<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">

        <!-- Update ARTICLE's number and CHOIX -->
        <div class="modal fade" id="modalupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background:linear-gradient(#B7D4F0, 50%, white);">
                    <div class="modal-header">
                        <h4 class="modal-title">Actualiser l'article</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Donn&eacute;es</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="nombrearticle" name='nombrearticle'
                                                    type="text" placeholder="Nombre d'article">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-2">
                                            <mat-form-field>
                                                <mat-select placeholder="Actif" [(value)]="actif" name="actif"
                                                    style="background-color: #afe4a3;" id='actif'
                                                    [disabled]=isOdpDisabled>
                                                    <mat-option [value]="1">Oui</mat-option>
                                                    <mat-option [value]="0">Non</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <mat-select placeholder="Promotion" [(value)]="idprn" name="idprn"
                                                    id="idprn">
                                                    <mat-option *ngFor="let dt of listeHisto" [value]="dt.idprn">
                                                        {{ dt.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" mat-raised-button (click)="filemoreInput.click()"
                                                class="btn btn-default">
                                                <i class="material-icons">upload_file</i> Ajouter un fichier
                                            </button>
                                            <input hidden (change)="onMoreFileSelected($event)" #filemoreInput type="file">
                                        </div>
                                        <div class="col-md-5">
                                            <label class="col-form-label" style="color: black;">{{ libmorefichier }}</label>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="this.getDataHisto">
                                        <div class="col-md-10">
                                            <br>
                                            <br>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="this.getDataHisto">
                                        <div class="col-md-10">
                                            <div class="material-datatables">
                                                <table id="datatablehisto"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Illustration</th>
                                                            <th>D&eacute;but</th>
                                                            <th>Fin</th>
                                                            <th>R&eacute;duction</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let dt of listeBeanpromotion">
                                                            <td >{{ dt.libelle }}</td>
                                                            <td >{{ dt.datedebut }}</td>
                                                            <td >{{ dt.datefin }}</td>
                                                            <td >{{ dt.reduction }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="enregistrerPromotion()"
                            class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- ARTICLE -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background:linear-gradient(#B7D4F0, 25%, white);">
                    <div class="modal-header">
                        <h4 class="modal-title">Renseigner les informations</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Donn&eacute;es</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="id" name='id' type="text" disabled
                                                    placeholder="id">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-7">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="libelle" name='libelle' type="text"
                                                    placeholder="Libell&eacute;">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">


                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Produits" [(value)]="idprod" name="idprod"
                                                    id="idprod" (selectionChange)="onProduitChange()">
                                                    <mat-option *ngFor="let dl of listeproduit" [value]="dl.idprd">
                                                        {{ dl.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Sous-Produits" [(value)]="idspr" name="idspr"
                                                    id="idspr" (selectionChange)="onSousProduitChange()">
                                                    <mat-option *ngFor="let dt of listesousproduit" [value]="dt.idspr">
                                                        {{ dt.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="D&eacute;tail" [(value)]="iddet" name="iddet"
                                                    id="iddet">
                                                    <mat-option *ngFor="let dt of listedetail" [value]="dt.iddet">
                                                        {{ dt.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="prix" name='prix' type="text" placeholder="Prix">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-lg-10 col-md-8 col-sm-4">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <textarea placeholder="Description" [(ngModel)]="detail"
                                                        name="detail" class="form-control" rows="3"
                                                        maxlength="290"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-md-5">
                                    <button type="button" mat-raised-button (click)="fileInput.click()"
                                        class="btn btn-default">
                                        <i class="material-icons">upload_file</i> S&eacute;lectionner un fichier
                                    </button>
                                    <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                                </div>
                                <div class="col-md-5">
                                    <label class="col-form-label">{{ libfichier }}</label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="enregistrer()" class="btn btn-success"
                            data-dismiss="modal">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/comptes" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone active" (click)="ouvrirzonegestion()" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/ajout.png" width="85" height="70" />
                                </i> Nouveau
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/delairetour" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/delairetour.png" width="85" height="70" />
                                </i> Modalit&eacute; retour
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/promotion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/imagepromo.jpeg" width="85" height="70" />
                                </i> Promotion
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/commande" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commande.png" width="85" height="70" />
                                </i> Commandes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!--  Add -->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%" *ngIf="this.getData">
                                <thead>
                                    <tr>
                                        <th>Illustration</th>
                                        <th>Libell&eacute;</th>
                                        <th>Type d&eacute;tail</th>
                                        <th>Prix</th>
                                        <th class="disabled-sorting text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of liste">
                                        <td><img src="https://firebasestorage.googleapis.com/v0/b/gestionpanneaux.appspot.com/o/{{ dt.lienweb }}?alt=media"
                                                id="myimg" width="85" height="70" /></td>
                                        <td class="lib">{{ dt.libelle }}</td>
                                        <td class="lib">{{ dt.appartenance }}</td>
                                        <td class="prix">{{ dt.prix.toLocaleString() }}</td>
                                        <td class="text-center">

                                            <a title="Mise &agrave; jour de l'article"
                                                (click)="miseajourarticle( dt.idart )"
                                                class="btn btn-link btn-success btn-just-icon edit"><i
                                                    class="material-icons">build</i></a>

                                            <!--<a title="Modifier"
                                                (click)="afficherDonnee( dt.idper, dt.libelle, dt.frequence, dt.codes, dt.jour )"
                                                class="btn btn-link btn-danger btn-just-icon edit"><i
                                                    class="material-icons">dvr</i></a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>

            </div>


        </div>


    </div>
</div>