<div style="text-align: center; width: 100%; margin-top: 50px;">
    <h2 style="color: #857f7f;">GOUABO : ASSISTANCE</h2>
</div>

<div style="margin-left: 50px; margin-top: 100px;">
    <p style="font-weight: bold;">Assistance</p>
    <p>Pour toute assistance, veuillez envoyer un mail à l'adresse mail <span style="font-weight: bold;">ngbandamakonan@gmail.com</span></p>
    <p>Vous serez contact&eacute; d&egrave;s r&eacute;ception de votre mail.</p>

    <br>
    <br>
    <a href="#/contact">Contact</a> 
    <br>
    <a href="#/confidentialite">Confidentialit&eacute;</a> 
</div>