<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Renseigner les informations</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Donn&eacute;es</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="detailtable.idnmd" name='id' type="text" disabled
                                                    placeholder="id">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-8">
                                            <mat-form-field>
                                                <mat-select placeholder="Nomenclature" [(value)]="detailtable.idnom" name="nomenclature">
                                                    <mat-option *ngFor="let nomenclature of listeNomenclature"
                                                        [value]="nomenclature.idnom">
                                                        {{ nomenclature.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!--  COUT  et  NOMENCLATURE  -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-8">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="detailtable.libelle" name='libelle' type="text"
                                                    placeholder="Occurence">
                                            </mat-form-field>
                                        </div>


                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="cout" name='cout' type="text"
                                                    placeholder="Co&ucirc;t">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--  PERIODE  et UNITE  -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-8">
                                            <mat-form-field>
                                                <mat-select placeholder="P&eacute;riode" [(value)]="detailtable.periode" 
                                                    name="periode">
                                                    <mat-option *ngFor="let dt of listePeriode"
                                                        [value]="dt.idper">
                                                        {{ dt.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Unit&eacute;"
                                                    [(value)]="detailtable.unite" name="unite">
                                                    <mat-option [value]="1">FCFA</mat-option>
                                                    <mat-option [value]="2">%</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="enregistrer()" class="btn btn-success"
                            data-dismiss="modal">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/comptes" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/superficie" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/superficie.png" width="85" height="70" />
                                </i> Superficie
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/emplacement" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/zone.jpeg" width="85" height="70" />
                                </i> Emplacement
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/periode" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/periode.jpeg" width="85" height="70" />
                                </i> P&eacute;riode
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone active" (click)="ouvrirzonegestion()" role="tablist">
                            <i class="material-icons">
                                <img src="assets/img/ajout.png" width="85" height="70"/>
                            </i> Nouveau
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/parametre" role="tablist">
                                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85"
                                        height="70" /></i> Param&egrave;tres
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


            <!--  Add -->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                                width="100%" style="width:100%" *ngIf="this.getDetail">
                                <thead>
                                    <tr>
                                        <th>Nomenclature</th>
                                        <th>D&eacute;tail</th>
                                        <th>P&eacute;riodicit&eacute;</th>
                                        <th>Co&ucirc;t</th>
                                        <th>Unit&eacute;</th>
                                        <th class="disabled-sorting text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dn of listeDetail">
                                        <td>{{ dn.nomenclature }}</td>
                                        <td>{{ dn.libelle }}</td>
                                        <td>{{ dn.periodicite }}</td>
                                        <td>{{ dn.cout.toLocaleString() }}</td>
                                        <td>{{ dn.unite }}</td>
                                        <td class="text-center">
                                            <a title="Modifier" (click)="afficherDonnee( dn.idnmd, dn.libelle, dn.idnom,dn.cout,dn.unite )"
                                                class="btn btn-link btn-danger btn-just-icon edit"><i
                                                    class="material-icons">dvr</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>

            </div>


        </div>


    </div>
</div>