<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">


        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" href="#/superviseur/accueilman" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/superviseur/clientman" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/client.jpeg" width="85" height="70" />
                                </i> Clients
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/superviseur/magasin" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/magasin.jpeg" width="85" height="70" />
                                </i> Bien
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone" href="#/superviseur/location" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/location.jpeg" width="85" height="70" />
                                </i> Location
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/superviseur/stats" role="tablist">
                                <i class="material-icons"><img src="assets/img/statistique.png" width="85"
                                        height="70" /></i> Statistiques
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row">
            
            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                  <i class="material-icons">data_usage</i>
                  </div>
                  <h4 class="card-title" style="font-size:18px">Projection des R&eacute;partitions des types de taxes</h4>
                </div>
                <div class="card-body">
                  <canvas id="portefeuille" height="150"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">Top 3 <span style="color: black; font-weight: bold;">(Millier)</span> des projections d'entr&eacute;es de taxe</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chartequipe" height="150"></canvas>
                    </div>
                </div>
            </div>                
        </div>



        <div class="tab-content tab-space tab-subcategories" style="padding-top: 0px; ">
            <div class="tab-pane active" id="link7" style="padding-top: 0px; ">

                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body ">
                            <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#link3" role="tablist">
                                        Projection TAXE
                                    </a>
                                </li>    
                                
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                                        Projection ODP
                                    </a>
                                </li>  
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="link3">
                                    <div class="card" style="border: 1px solid black;">
                                        <div class="card-body" >
                                            <div class="material-datatables" >
                                                <table id="datatableproj"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Taxe</th>
                                                            <th>D&eacute;tail</th>
                                                            <th class="text-center">Cumul &agrave; payer</th>
                                                            <th class="text-center">Nombre d'entit&eacute;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getProjection">
                                                        <tr *ngFor="let donnee of listeProjection">
                                                            <td style="font-weight: bold;">{{ donnee.nomenclature }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.detail }} </td>
                                                            <td class="text-center" 
                                                            style="font-weight: bold; background-color: #d4e4d6;">
                                                            {{ donnee.montant.toLocaleString() }}</td>
                                                            <td class="text-center">{{ donnee.nombre }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>

                                <div class="tab-pane" id="link4">
                                    <div class="card" style="border: 1px solid black;">
                                        <div class="card-body" >
                                            <div class="material-datatables" >
                                                <table id="datatableproodp"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Taxe</th>
                                                            <th>D&eacute;tail</th>
                                                            <th class="text-center">Cumul &agrave; payer</th>
                                                            <th class="text-center">Nombre d'entit&eacute;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getProjectionOdp">
                                                        <tr *ngFor="let donnee of listeProjectionOdp">
                                                            <td style="font-weight: bold;">{{ donnee.nomenclature }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.detail }} </td>
                                                            <td class="text-center" 
                                                            style="font-weight: bold; background-color: #d4e4d6;">
                                                            {{ donnee.montant.toLocaleString() }}</td>
                                                            <td class="text-center">{{ donnee.nombre }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>