<div style="text-align: center; width: 100%; margin-top: 50px;">
    <h2 style="color: #857f7f;">APPLICATION MOBILE : R&Egrave;GLES DE CONFIDENTIALIT&Eacute;</h2>
</div>

<div style="margin-left: 50px; margin-top: 100px;">
    <p style="font-weight: bold;">R&egrave;gles de confidentialit&eacute;</p>
    <p>GOUABO Market est &eacute;dit&eacute;e par ANKK.</p>
    <p>Le terme Application s'applique à l'application pour mobile Android et IOS nomm&eacute;e « GOUABO Market ».</p>
</div>

<div style="margin-left: 50px; margin-top: 50px;">
    <p style="font-weight: bold;">Donn&eacute;es personnelles</p>
    <p>Depuis notre Application, nous ne collectons aucune donn&eacute;e personnelle (par exemple: les noms, les adresses, les num&eacute;ros de t&eacute;l&eacute;phone, 
        les adresses de courrier &eacute;lectronique ou les adresses IP compl&egrave;tes).</p>
</div>

<div style="margin-left: 50px; margin-top: 50px;">
    <p style="font-weight: bold;">Permissions demand&eacute;es par l'Application</p>
    <p>Aucune permission n'est demand&eacute;e</p>
</div>